/* //////////////////  HOME PAGE  ////////////////// */
.navbar .nav-item.active {
  border-left: 0;
}

.nav-placeholder {
  height: 56px;
}

#home-carousel .carousel-item {
  height: 450px;
}

#home-carousel .carousel-inner > :nth-child(1) {
  background-image: url(../img/img1.jpg);
  background-size: cover;
  background-position: center;
}
#home-carousel .carousel-inner > :nth-child(2) {
  background-image: url(../img/img2.jpg);
  background-size: cover;
  background-position: center;
}
#home-carousel .carousel-inner > :nth-child(3) {
  background-image: url(../img/img3.jpg);
  background-size: cover;
  background-position: center;
}

#home-heading,
#home-video {
  background: url(../img/img4.jpg);
  background-attachment: fixed;
}

#home-video a {
  cursor: unset;
}

#home-gallery [class^="col-"] {
  height: 300px;
  margin-bottom: 30px;
}

#home-gallery [class^="col-"] img {
  width: 100%;
  height: 100%;
}

/* //////////////////  ABOUT PAGE  ////////////////// */
#about-header {
  background: url(../img/about1.jpg);
  background-attachment: fixed;
}

#about-us img {
  width: 450px;
  height: 450px;
}

#about-icons .card {
  margin-top: 25px;
}

#about-testimonials .carousel-item {
  height: 250px;
}

/* //////////////////  SERVICES PAGE  ////////////////// */

#services-header {
  background: url(../img/services1.jpg);
  background-attachment: fixed;
}

#services-faq .card {
  background: #333;
}

#services-faq a {
  color: #fff;
}

/* //////////////////  BLOG PAGE  ////////////////// */

#blog-header {
  background: url(../img/blog1.jpg);
  background-attachment: fixed;
}
